services:
  app:
    build: 
      dockerfile: dockerfile
      context: .
    ports:
      - 8000:8000
    volumes:
      - ./blog:/blog
    environment:
      DB_CONNECTION: mariadb
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: example
      DB_DATABASE: app
  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: app
    volumes:
      - kta25dbdata:/var/lib/mysql
    ports:
      - 33061:3306

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
volumes:
  kta25dbdata: